.social-icons {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  gap: 5px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: white;
  height: 40px;
  width: 40px;
  font-size: 1.3em;
}

.social-icons a:hover {
  color: #fcd34d;
  background: black;
}

.navigation {
  background-color: #fcd34d;
  padding: 0.9rem 1rem;
  color: black;
  text-align: center;
  font-size: 2em;
  overflow-x: hidden;
  height: 100vh;
}

.nav-heading {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0em;
  background-color: #fffbeb;
  font-family: lakki reddy;
}

.header {
  background-color: #fcd34d;
  height: 10em;
  padding-top: 3em;
}

.image {
  width: 10em;
  display: block;
  margin: auto;
}

.header h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 0em;
}

.textbox {
  font-size: 1.2rem;
  height: 7em;
  border-radius: 1em;
  padding: 1em;
}

.main-content {
  text-align: center;
}

.main-content h2 {
  margin-top: 2rem;
}

textarea {
  max-width: 80%;
  display: block;
  height: 10vh;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1em;
}

#output {
  border: 1px solid black;
  min-height: 10vh;
  height: auto;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

button {
  margin: 1em auto;
  display: block;
  background-color: #fcd34d;
  border: none;
  padding: 0.5em 1em 0.1em 1em;
  border-radius: 1em;
  font-size: 1.4rem;
  font-family: lakki reddy;
}

button:hover {
  padding: 0.4em 0.8em 0.05em 0.8em;
  margin: 1.08em auto;
  cursor: pointer;
}

footer {
  margin-top: 1em;
  text-align: center;
  background-color: #fcd34d;
  padding: 2rem 0rem;
  text-align: center;
  color: black;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  margin: 0;
  width: 100%;
  position: absolute;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

footer a:hover {
  font-size: 1.3rem;
}
